.App {
  text-align: center;
  background-color: #eee5e5;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar {
  background-color: #5baba4;
  padding: 10px;
  text-align: justify;
}

.pets-container {
  padding: 40px;
  text-align: center;
}

.pet-form {
  text-align: center;
}

a {
  color: darkslategray;
}

a:hover {
  color: lightslategray;
}

h1 {
 color: #28afb0;
}

h2 {
   color: #37392e;
}

h3 {
  color: #19647e ;
}

.button {
  background-color: lightslategrey; /* Green */
  border: none;
  color: #37392e;
  font-weight: bold;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

